<!-- head -->
<meta charset="UTF-8" />
<title>Listen Along for Spotify - BETA</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
<link href="assets/css/style.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="icon" type="image/png" href="assets/img/favicon.png" />

<meta property="og:site_name" content="Listen Along for Spotify" />
<meta property="og:url" content="https://listenalong.roaringiron.com" />
<meta property="og:title" content="Music to enjoy together" />
<meta property="og:description" content="Create and listen to Spotify music parties." />
<meta property="og:type" content="website" />
<meta property="og:image" content="assets/img/ogimage.png" />

<style>
  @font-face {
    font-family: gotham;
    color: white;
    src: url("./assets/gotham/gotham-bold-webfont.woff");
  }

  @font-face {
    font-family: gotham-medium;
    color: white;
    src: url("./assets/gothammedium/gothammedium-webfont.woff");
  }

  /* html * {
        font-size: 1em !important;
        color: #000 !important;
        font-family: gotham-medium !important;
    } */
</style>
